<div class="iframes">
<div class="iframe_left">
<%= "<a href=\"http://viaf.org/viaf/#{viaf_id}/\", target=\"_new\">http://viaf.org/viaf/#{viaf_id}/</a>" %>

<%= "<iframe src=\"http://viaf.org/viaf/#{viaf_id}/\" width=\"400\" height=\"800\" 
frameborder=\"0\" scrolling=\"auto\" name=\"iframe\"></iframe>" %>
</div>
<div class="iframe_right">
<%= "<a href=\"http://archiveshub.ac.uk/search/record.html?id=gb15sirernesthenryshackleton\", target=\"_new\">http://archiveshub.ac.uk/search/record.html?id=gb15sirernesthenryshackleton/</a>" %>

<%= "<iframe src=\"http://archiveshub.ac.uk/search/record.html?id=gb15sirernesthenryshackleton\" width=\"800\" height=\"800\" 
frameborder=\"0\" scrolling=\"auto\" name=\"iframe\"></iframe>" %>
</div>
</div>
