<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Locah - SameAs</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <div id="splash">
      <h1><span>Locah - sameAs</span></a></h1>
    </div>

    <div id="intro">
      <div>
        <div class="lhs">
					<% yield_content :lhs %>
        </div>
        <div class="rhs">
					<% yield_content :rhs %>
        </div>
        <hr />
      </div>
    </div>
    <div id="content">
			<% yield_content :content %>
		</div>
    <div id="footer">
			I am in your footer
    </div>
  </body> 
</html>