<% content_for :lhs do %>
  Total number of people in the Locah data set is <%= @count %>
<% end %>
<% content_for :rhs do %>
  Total number of people in the Locah data set matched to VIAF 0
<% end %>

<% content_for :content do %>
<!-- sameAs not the sameAs unsure -->

<div class="buttons">
    <button type="submit" class="positive">
        sameAs
    </button>

    <button type="submit" class="positive">
        not the sameAs
    </button>

    <button type="submit" class="positive">
        unsure
    </button>
</div>
<br/>
<br/>
<br/>
<a href="">http://data.archiveshub.ac.uk/id/person/<%= @key %><br/></a>
<b><%= @p.name %></b>

<%= erb :_viaf, :layout => false, :locals => {:viaf_id => @p.viaf_id} %>
<% end %>

