<ul>
	<li><%= link_to "Find People", url_for(:result, :query => "person") %></li>
	<li><%= link_to "Find Extent", url_for(:result, :query => "extent") %></li>
	<li><%= link_to "Find Epithet", url_for(:result, :query => "epithet") %></li>
	<li><%= link_to "Find Property", url_for(:result, :query => "property") %></li>
	<li><%= link_to "Find Type", url_for(:result, :query => "type") %></li>
</ul>