<h1>Results</h1>

<% @results.first.keys.reverse_each do |key| %>
	<b><%= key %></b>
<% end %><br/>

<% @results.each do |result| %>
	<p>
		<b>
			<% begin %>
		  <%= link_to "#{result['s']}", url_for(:uri,
						:query => result['s'].gsub('http://data.archiveshub.ac.uk/','')) %>
			<% rescue %>
				<%=h result['s'] %>
			<% end %>
		</b>
		<b><%=h result['p'] %></b>
		<%=h result['o'] %>
  <p/>
<% end %>