<% @p.lookup.each do |value| %>
  <%= "First Name: #{value['given_name']}" %><br />
  <%= "Last Name: #{value['family_name']}" %><br />
  <%= "Occupation: #{value['occupation']}" %><br />
  <%= "<a href=\"http://localhost:3000/person/#{parse_url(value['person'])}\">#{value['person']}</a>" %><br />
	<%= "Same as: #{value['dbpedia']}" %><br />

  <%= "******************************" %><br />
<% end %>