<%= @dbpedia_uri %>
<%= @params %>
<table class="infobox biography vcard" cellspacing="5" style="width:22em;">
<% @results.each do |result| %>
	<% result.each do |key,value| %>
		<% if !value.eql?("") %>
			<tr class="">
			<th scope="row" style="text-align:left;"><%= key.to_s.titlecase unless key.to_s.eql?("thumbnail") %></th>
			<td class="" style=""><%= image?(value) %></td>
			</tr>
		<% end %>
	<% end %>
<% end %>
</table>
