.infobox {
  border:1px solid #aaa;
  background-color:#f9f9f9;
  color:black;
  margin:0.5em 0 0.5em 1em;
  padding:0.2em;
  float:left;
  clear:left;
  text-align:left;
  font-size:88%;
  line-height:1.5em
}