<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Locah Timemap Visualization</title>
			<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAnfs7bKE82qgb3Zc2YyS-oBT2yXp_ZAY8_ufC3CFXhHIE1NvwkxSySz_REpPq-4WZA27OwgbtyR3VcA"
      type="text/javascript"></script>
		<script type="text/javascript" src="/javascripts/jquery-1.4.4.min.js"></script>
		<script type="text/javascript" src="/javascripts/mxn/mxn.js?"></script>
		<script src="/javascripts/mxn/mxn.core.js" type="text/javascript"></script>
		<script src="/javascripts/mxn/mxn.google.core.js" type="text/javascript"></script>
		<script type="text/javascript" src="/javascripts/timeline-2.3.0.js"></script>
		<script src="/javascripts/timemap.js" type="text/javascript"></script>
		<script src="/javascripts/loaders/json.js" type="text/javascript"></script>
		<script src="/javascripts/loaders/progressive.js" type="text/javascript"></script>

	<script type="text/javascript">
			var tm;
$(document).ready(function() {
		SimileAjax.History.enabled = false;
		var pathname = window.location.pathname;
		var theme = Timeline.ClassicTheme.create();
  	theme.event.track.gap = -8;
  	theme.event.tape.height = 16;

    tm = TimeMap.init({
        mapId: "map",               // Id of map div element (required)
        timelineId: "timeline",     // Id of timeline div element (required) 
        options: {
            eventIconPath: "images/"
        },
        datasets: [
            {
                title: "Progressive Dataset",
                theme: "green",
                type: "progressive",
                options: {
                    // Data to be loaded in JSON from a remote URL
                    type: "jsonp", 
                    // url with start/end placeholders
	                    url: "http://localhost:9092/timemap/data?from=[start]&to=[end]&callback=&slug="+pathname,
										//url: "http://ruby.ukoln.ac.uk/locah/timemap/?from=[start]&to=[end]&callback="
                    start: "2000-01-01",
                    // lower cutoff date for data
                    dataMinDate: "2000-01-01",
										classicTape: true,
                    // On Year in milliseconds
                    // interval: 31536000730,   
                    // function to turn date into string appropriate for service
                    formatDate: function(d) {
                        return TimeMap.util.formatDate(d, 1);
                    }
                }
            }
        ],
        // bandIntervals: "dec"
        bandInfo: [    
            {
                     width:          "85%", 
                     intervalUnit:   Timeline.DateTime.DECADE, 
                     intervalPixels: 200,
                     theme:          theme
            },
            {
                     width:          "15%", 
                     intervalUnit:   Timeline.DateTime.CENTURY, 
                     intervalPixels: 300,
                     overview:       true
            }
        ]
    });
    // add our new function to the map and timeline filters
    tm.addFilter("map", TimeMap.filters.hasSelectedTag); // hide map markers on fail
    tm.addFilter("timeline", TimeMap.filters.hasSelectedTag); // hide timeline events on fail
});

// filter function for tags
TimeMap.filters.hasSelectedTag = function(item) {
    // backwards-compatible indexOf
    function indexOf(arr, item) {
        if (arr.indexOf) return arr.indexOf(item);
        // otherwise, do it the hard way
        var i = arr.length;
        while (i--) if (arr[i]==item) break;
        // not found
        return i;
    }
    return !window.selectedTag || // if no tag was selected, everything passes
        (
            // item has tags?
            item.opts.tags && 
            // tag found?
            indexOf(item.opts.tags, window.selectedTag) >= 0
        );
};

// onChange handler for pulldown menu
function setSelectedTag(select) {
    var idx = select.selectedIndex;
    window.selectedTag = select.options[idx].value;
    // run filters
    tm.filter('map');
    tm.filter('timeline');
}
    </script>
	<link href="/examples.css" type="text/css" rel="stylesheet"/>
  </head>

  <body>
		<div id="help">
	    <h1>Locah Timemap Visualization</h1>
	    Locah project data for <%= capitalize_each(@slug) %><br />
	    <form>
	        <select onChange="setSelectedTag(this);">
	            <option value="">All tags</option>
	            <option value="originator">originator</option>
							<option value="associated">associated</option>
	        </select>
	    </form>
		</div>
		<div id="subjects">
			<%= link_to("Science", "/timemap/subject/science")%>|
			<%= link_to("Politics", "/timemap/subject/politics") %>|
			<%= link_to("Travel and Exploration", "/timemap/subject/travel-and-exploration") %>
		</div>
    <div id="timemap">
        <div id="timelinecontainer">
          <div id="timeline"></div>
        </div>
        <div id="mapcontainer">
          <div id="map"></div>
        </div>
    </div>
  </body>
</html>