/* basic setup */
* { margin: 0; padding: 0; }
html { overflow-y: scroll; overflow-x: auto; }
body { background: #eee; font-family: sans-serif; }

/* major layout components */

div#nav { background: black; height: 40px; }
div#nav li { list-style-type: none; float: right; margin: 10px; color: white; font-size: smaller; }

div#splash { height: 125px; background: #24252C; border-bottom: 1px solid white; padding: 20px 0 0 0; }
div#splash h1, div#splash h2 { line-height: 0; margin: 0; padding; 0;}
div#splash h1, div#splash h2 { width: 900px; margin: 0 auto; }
div#splash h1 span, div#splash h2 span {color: white;}

div#intro { background: #ddd; border-bottom: 1px solid white; padding: 30px 0; }
div#intro div { width: 901px; margin: 0 auto; }
div#intro div.lhs { float: left; width: 40%; }
div#intro div.rhs { float: left; width: 50%; margin-left: 20px;}
div#intro p { margin: 0; }

div#content { width: 1200px; margin: 0 auto; padding: 50px 0 0 0; }

div#footer { font-size: smaller; text-align: center; padding: 60px 0 20px 0; color: #444; }
div#footer a { text-decoration: none; color: #444; margin: 0 5px; }
div#footer img { margin: 5px; }

/* basic styles */

p { line-height: 1.5em; margin: 0 0 1.5em 0; }
a img { border: 0; }
hr { clear: both; visibility: hidden; }
.hidden { display: none; }
h2 { font-size: 120%; line-height: 1.8em; }
pre { margin: -1.5em 0 1.5em 0; }

p.links { font-size: smaller; color: #aaa; margin: 5px 0 5px 110px; }
p.links a { color: #aaa; }

/* basic lists */
ul { text-indent: 0; margin: 30px 0 0 0; }
ul li { list-style: none; margin: 0 0 30px 0; }
ul li a img { margin: 2px 5px 0 0; }

li a { color: black; text-decoration: none; }
li a:hover { color: blue; text-decoration: underline; }

ul.indent { margin: -1.5em 0 1.5em 0; }
ul.indent li { margin: 0 0 0 40px; }
ul.indent li a { color: blue; text-decoration: underline; }

ul.bullet li { list-style: square; margin: 0.5em 0 0.5em 40px; }
ul.bullet li a { color: blue; text-decoration: underline; }

ol { margin: 5px 0 0 0; padding: 0; }
ol li { margin: 0 0 0 55px;  padding: 0 0 0 20px; }
ol li span { display: block; float: left; text-align: right; padding: 0 5px 0 0; width: 30px; color: #aaa; }

/* fancy list formatting */

ol.brace   { background: url('/assets/img/brace-middle.png') 0 50% no-repeat transparent; }
ol.brace li.first   { background: url('/assets/img/brace-top.gif') top left no-repeat; }
ol.brace li.last    { background: url('/assets/img/brace-bottom.gif') bottom left no-repeat; }
ol.brace li.reveal { background: url('/assets/img/brace-dashed.png') top left repeat-y; padding: 5px 0 5px 55px; font-size: smaller; }
ol.brace li.reveal a { color: #aaa; }
ol.single { background: url('/assets/img/sameAs.gif') top left no-repeat; }


/* BUTTONS */

.buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/* iframes */

div.iframe_left { float: left; width: 40%; }
div.iframe_right { float: right; width: 60%;}
div.iframes { padding-top:25px; }